@charset "ISO-8859-1";



body{
    height: 100%;
    width: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Optional: centers form + image */
    border-radius:5px;
}
#form1{
    font-style: italic;
    display: flex;
    background-color: rgb(63, 192, 244);
    justify-content: center;
    text-align: left;
    
    width: auto;
    
}

table{
    height: 200px;
    width: 350px;
}

#labels {
    color: rgb(17, 9, 109);
    font-family: Roboto, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-top: 10%;
    margin-bottom: 10px;
    background-image: linear-gradient(to right, white, rgb(151, 239, 239), white);
    padding: 30px;
    border-radius: 10px;
}


#button{
    height: 30px;
    font-size: 15px;
    background-color:  rgb(224, 245, 245);
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 3px black;
    width: 70px;
}