<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Quizzes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>this is for login page databse</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet_pages.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>servlet_pages.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this servlet deal with quetions </description>
    <display-name>Quizz</display-name>
    <servlet-name>Quizz</servlet-name>
    <servlet-class>servlet_pages.Quizz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quizz</servlet-name>
    <url-pattern>/Quizz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This file contains all the quetions</description>
    <display-name>MyQuestions</display-name>
    <servlet-name>MyQuestions</servlet-name>
    <servlet-class>servlet_pages.MyQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQuestions</servlet-name>
    <url-pattern>/MyQuestions</url-pattern>
  </servlet-mapping>
</web-app>