<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Quizzes</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>this is for login page databse</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>servlet_pages.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignIn</display-name>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>servlet_pages.SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/SignIn</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this servlet deal with quetions </description>
    <display-name>Quizz</display-name>
    <servlet-name>Quizz</servlet-name>
    <servlet-class>servlet_pages.Quizz</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Quizz</servlet-name>
    <url-pattern>/Quizz</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>This file contains all the quetions</description>
    <display-name>MyQuestions</display-name>
    <servlet-name>MyQuestions</servlet-name>
    <servlet-class>servlet_pages.MyQuestions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyQuestions</servlet-name>
    <url-pattern>/MyQuestions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddQues</display-name>
    <servlet-name>AddQues</servlet-name>
    <servlet-class>servlet_pages.AddQues</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddQues</servlet-name>
    <url-pattern>/AddQues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckUserScore</display-name>
    <servlet-name>CheckUserScore</servlet-name>
    <servlet-class>servlet_pages.CheckUserScore</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckUserScore</servlet-name>
    <url-pattern>/CheckUserScore</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TypeHandler</display-name>
    <servlet-name>TypeHandler</servlet-name>
    <servlet-class>servlet_pages.TypeHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TypeHandler</servlet-name>
    <url-pattern>/TypeHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserScoreDB</display-name>
    <servlet-name>UserScoreDB</servlet-name>
    <servlet-class>servlet_pages.UserScoreDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserScoreDB</servlet-name>
    <url-pattern>/UserScoreDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CertificateGenerator</display-name>
    <servlet-name>CertificateGenerator</servlet-name>
    <servlet-class>services.CertificateGenerator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CertificateGenerator</servlet-name>
    <url-pattern>/CertificateGenerator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword</display-name>
    <servlet-name>ForgotPassword</servlet-name>
    <servlet-class>servlet_pages.ForgotPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword</servlet-name>
    <url-pattern>/ForgotPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GoogleLogin</display-name>
    <servlet-name>GoogleLogin</servlet-name>
    <servlet-class>servlet_pages.GoogleLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleLogin</servlet-name>
    <url-pattern>/GoogleLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPassword1</display-name>
    <servlet-name>ForgotPassword1</servlet-name>
    <servlet-class>servlet_pages.ForgotPassword1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPassword1</servlet-name>
    <url-pattern>/ForgotPassword1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OAuth2CallbackServlet</display-name>
    <servlet-name>OAuth2CallbackServlet</servlet-name>
    <servlet-class>servlet_pages.OAuth2CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OAuth2CallbackServlet</servlet-name>
    <url-pattern>/OAuth2CallbackServlet</url-pattern>
  </servlet-mapping>
</web-app>